
@keyframes animate
{
    0%,100%
      {
       background-image: url(1AVdUEg.jpg); 
      }
    25%
      {
       background-image: url(1e9b9015a2e859df3c89e52b9609d5a3.jpg); 
      }
    50%
      {
       background-image: url(2_horses.jpg); 
      }
      75%
      {
       background-image: url(1KJ6vX.jpg);
      }
  } 